* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
} 

body {  
    height: 100vh;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a0a0a;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px; 
} 

button:hover {
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none !important;
}


/* Page Header/Title styles */

#header {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 15px; 
}

#header-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;  
}
 
.circle-btn { 
    width: 46px;
    height: 46px;
    background-color: slateblue;
    border-style: none;
    border-radius: 50%;
    color: white;
    font-size: 22px;
}

.circle-btn img {
    width: 15px;
    height: 15px;
}

h1 { 
    font-size: 28px;
    font-weight: 300;
    padding: 0; 
}

#subtitle {
    display: inline-block;
    font-size: 16px;
    color: slateblue; 
    margin: auto;
}
 
#subtitle-btn { 
    width: 20px;
    height: 20px;
    border: 1px solid slateblue;
    border-radius: 30%;
    background-color: transparent;
    color: slateblue;  
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
}

#subtitle-btn:hover { 
    background-color: slateblue;
    color: white;
}

#tree-container {
    width: 99%;  
    height: 88%;   
    background-color: #181717;
    border-radius: 18px;
} 


/* Member Form Dialog styles */

dialog {
    padding: 0;
    margin: 0;
    border: none;
}
  
#member-form-dialog {
    position: absolute;
    z-index: 9;
    width: 500px;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 10px; 
    background-color: #272626;
    color: rgb(233, 233, 233);
}

#member-form {
    width: 100%; 
    padding: 0 20px;
}
 
#form-header {
    background-color: slateblue;
    border-radius: 6px 6px 0 0;
    padding: 10px;
    cursor: move;
    z-index: 10;
    font-size: 22px; 
}

#form-body {
    margin: 20px;
}

.form-field-label {
    color:#969696;
    font-size: 13px;
    margin: 0 3px;
}
 
input[type="text"] {
    width: 100%;
    height: 35px;
    background-color: transparent;
    border: 1px solid #969696;
    border-radius: 5px;
    color: rgb(233, 233, 233);
    padding: 0 10px;
    margin-top: 5px;
} 

.form-btns-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px; 
    margin-top: 30px;
}

.form-btn {
    width: fit-content; 
    height: 35px;
    padding: 0 15px; 
    border-radius: 12px; 
    font-family: "Poppins";
    font-weight: 500; 
    font-size: 12px;
}

.outline-btn { 
    border: 1px solid slateblue;
    color: slateblue;
    background-color: transparent; 
}

.filled-btn { 
    border: 1px solid slateblue;
    background-color: slateblue;
    color: white;
} 

#form-new-member-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 40px 0px; 
}

#form-selected-member-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: 1px solid #969696;
    border-radius: 8px;
    padding: 5px;
}

#selected-member-img {
    width: 85px;
    height: 85px;
    margin-top: 20px;
}


/* Member Form Image Selector styles */

#form-img-selector {
    display: flex;
    flex-direction: column; 
    align-items: center;
    border: 1px solid #969696;
    border-radius: 8px;
    margin: 40px 20px 30px 20px;    
    padding: 16px 16px 2px 16px;
}

#form-selected-img {
    width: 100px;
    height: 100px; 
    margin-bottom: 20px;
    border: 2px solid #969696;
    border-radius: 50%;
}

#form-default-img-options {
    width: 100%;
    height: auto;
    display: flex; 
    align-items: center;
    flex-wrap: wrap;  
    flex-direction: row;
    justify-content: space-between;     
    row-gap: 14px; 
    margin-bottom: 20px;
}

.default-img {
    width: 55px;
    height: 55px;
}

#custom-img-selector {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #969696;
    border-radius: 50%;
    color: #969696;
    font-size: 18px;
}

.default-img:hover, #custom-img-selector:hover {
    outline: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

input[type="file"] {
    display: none;
}

#file-error-msg {
    font-size: 12px;
    font-style: italic; 
    color: #969696;
    width: 100%; 
}


/* Member Form Relation Selector styles */

#form-relation-selector {
    width: 50%;
}

#form-relation-btns { 
    width: 100%;  
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0 0 5px; 
}

.relation-btn-box {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 8px;
}

.relation-btn-box label {
    font-size: 13px;
    color: rgb(233, 233, 233);
}

input[type=radio]{
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(255,252,229,1);
    border-radius: 50%;
    background-clip: content-box;
    background-color: transparent;  
}

input[type="radio"]:checked, input[type="radio"]:hover {
    background-color: slateblue;
    border: 1px solid slateblue;
    cursor: pointer;
    padding: 3px;
}  


/* Tooltip styles */

.tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;  
    position: absolute;
    z-index: 1;
    color: #fff;
    font-size: 12px;  
}
  
.tooltip-triangle {
    width: 0;
    height: 0; 
    border: solid 6px;
    border-color: transparent transparent #3b3b3b transparent;
} 

.tooltip-text {
    background-color: #3b3b3b;
    border-radius: 6px; 
    padding: 5px 8px;
} 

.btn-with-tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.btn-with-tooltip:hover .tooltip {
    visibility: visible;
    margin-top: 76px;
}


/* Snackbar styles */

#snackbar { 
    visibility: hidden;
    position: fixed;  
    left: 50%;
    bottom: 30px;
    margin-left: -100px;   
    padding: 10px 16px; 
    background-color: #333;  
    color: #fff;  
    border-radius: 6px; 
}
   
#snackbar.show { 
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
} 
   
@-webkit-keyframes fadein {
    from { bottom: 0; opacity: 0; }
    to { bottom: 30px; opacity: 1; }
}

@keyframes fadein {
    from { bottom: 0; opacity: 0; }
    to { bottom: 30px; opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { bottom: 30px; opacity: 1; }
    to { bottom: 0; opacity: 0; }
}

@keyframes fadeout {
    from { bottom: 30px; opacity: 1; }
    to { bottom: 0; opacity: 0; }
}