* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

/* html, body {
    height: 100%;
    width: 100%;
} */

body {  
    padding: 10px 20px 20px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a0a0a;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px; 
} 

#header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 15px; 
}

#header-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px; 
    /* height: 70%;
    padding: 0 10px;
    border-radius: 40px;
    background-color: #474747; */
}

.btn-img {
    width: 18px;
    height: 18px;

}
 
.circle-btn {
    width: 50px;
    height: 50px;
    background-color: slateblue;
    border-style: none;
    border-radius: 50%;
    color: white;
    font-size: 22px;
}

.circle-btn:hover .tooltip {
    visibility: visible;
    margin: 20px 0px 0 -25px;
}

h1 { 
    font-size: 30px;
    font-weight: 300;
    padding: 0; 
}

#subtitle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}



#subtitle-btn { 
    width: 20px;
    height: 20px;
    border: 1px solid slateblue;
    border-radius: 5px;
    background-color: transparent;
    color: slateblue;
}

#subtitle-btn:hover { 
    background-color: slateblue;
    color: white;
}

#subtitle {
    display: inline-block;
    font-size: 18px;
    color: slateblue;
    margin-top: 2px;
}
 
.hidden {
    display: none !important;
    /* visibility: hidden; */
}

 
#tree-container {
    width: 99%;  
    height: 88%;   
    background-color: #181717;
    border-radius: 18px;
} 

dialog {
    padding: 0;
    margin: 0;
    border: none;
  }

  
#member-form-dialog {
    position: absolute;
    z-index: 9;
    width: 500px;
    height: 480px;
    /* height: fit-content;  */
    /* transform: translate(-50%, 10%);
    left: 50%;  */
    border-radius: 10px; 
    background-color: #272626;
    color: rgb(233, 233, 233);
    box-sizing: border-box;
}
 
#form-header {
    background-color: slateblue;
    border-radius: 6px 6px 0 0;
    padding: 10px;
    cursor: move;
    z-index: 10;
    font-size: 22px; 
}

#form-body {
    margin: 20px;
}

#img-selector {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 40px 20px 30px 20px;  
    gap: 10px;
    border: 1px solid #969696;
    border-radius: 8px;
    padding: 16px;
}

#selected-img {
    width: 100px;
    height: 100px; 
    border-radius: 50%;
}

#default-imgs {
    width: 100%;
    height: auto;
    display: flex; 
    align-items: center;
    flex-wrap: wrap;  
    flex-direction: row;
    justify-content: space-between;     
    row-gap: 14px; 
}

.default-img {
    width: 55px;
    height: 55px;
}

.default-img:hover, #custom-img:hover {
    outline: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}
 

#custom-img {
    width: 30px;
    height: 30px;
    border: 1px solid #969696;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #969696;
    font-size: 18px;
}

input[type="file"] {
    display: none;
}



#member-form {
    width: 100%; 
    padding: 0 20px;
}
 

.form-btns-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 35px;
}

.text-label {
    color:#969696;
    font-size: 13px;
    margin: 0 3px;
}
 
input[type="text"] {
    background-color: transparent;
    border: 1px solid #969696;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    padding: 0 10px;
    color: rgb(233, 233, 233);
    margin-top: 5px;
} 

#form-bottom-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 40px 0px; 
}

#selected-member-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: 1px solid #969696;
    border-radius: 8px;
    padding: 5px;
}

#selected-member-img {
    width: 85px;
    height: 85px;
    margin-top: 20px;
}





#relation-selector {
    width: 50%;
}

#radio-btns-container { 
    width: 100%;  
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0 0 5px; 
}

.radio-btn {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 8px;
}

.radio-btn label {
    font-size: 13px;
    color: rgb(233, 233, 233);
}

input[type=radio]{
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-clip: content-box;
    border: 1px solid rgba(255,252,229,1);
    background-color: transparent;  
}

input[type="radio"]:checked, input[type="radio"]:hover {
    background-color: slateblue;
    padding: 3px;
    border: 1px solid slateblue;
    cursor: pointer;
}  

button:hover {
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.outline-btn {
    width: fit-content;
    /* width: 80px; */
    height: 35px;
    padding: 0 15px;
    border: 1px solid slateblue;
    background-color: transparent;
    color: slateblue;
    border-radius: 12px;
    font-family: "Poppins";
    font-weight: 500; 
    font-size: 12px;
}

.filled-btn {
    width: fit-content;
    /* width: 80px; */
    height: 35px;
    padding: 0 15px;
    border: 1px solid slateblue;
    background-color: slateblue;
    color: white;
    border-radius: 12px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 12px; 
} 


.tooltip {
    visibility: hidden;  
    color: #fff;
    font-size: 12px; 
    text-align: center;
    position: absolute;
    z-index: 1;
}
  
#custom-img:hover .tooltip {
    visibility: visible;
    margin-top: 80px;
}

.tooltip-text {
    background-color: #3b3b3b;
    border-radius: 6px; 
    padding: 5px 8px;
}